# Pandas
**Pandas** is a powerful and popular open-source Python library for data manipulation and analysis. It is built on top of NumPy and provides easy-to-use data structures and functions for working with structured data, making it an essential tool in the data science and data analysis toolkit. Here's a more detailed explanation of what pandas is and what it offers:

1. **Data Structures:**
   - **DataFrame:** The primary data structure in pandas is the DataFrame, which is a 2-dimensional, size-mutable, and tabular data structure. Think of it as a table or spreadsheet where you can store and manipulate data. Each column in a DataFrame is a Series, which is a one-dimensional labeled array with data of any type.
   
2. **Key Features:**
   - **Data Loading:** Pandas can read data from various sources, including CSV files, Excel spreadsheets, SQL databases, and more. It can also connect to online data sources, making it versatile for data ingestion.
   - **Data Cleaning:** It provides powerful tools for handling missing data, transforming data, and dealing with outliers.
   - **Data Indexing and Selection:** Pandas offers flexible indexing methods, including label-based, integer-based, and Boolean-based indexing, allowing you to select and filter data easily.
   - **Data Aggregation and Grouping:** You can group and aggregate data based on certain criteria using pandas, which is essential for performing summary statistics and analysis.
   - **Merging and Joining:** Pandas can merge and join datasets similar to SQL databases, enabling you to combine data from multiple sources.
   - **Time Series Analysis:** It has built-in support for time series data, making it suitable for financial and temporal data analysis.
   - **Data Visualization:** While pandas is primarily a data manipulation library, it can also work seamlessly with data visualization libraries like Matplotlib and Seaborn for creating charts and plots.

3. **Use Cases:**
   - **Data Analysis:** Pandas is widely used for data exploration and analysis, allowing data scientists and analysts to perform tasks like data cleaning, transformation, and statistical analysis.
   - **Data Preparation:** Before feeding data into machine learning models, you often need to preprocess and structure it correctly. Pandas is invaluable for this purpose.
   - **Data Wrangling:** When working with real-world data, it's common to have data in messy formats. Pandas helps clean and prepare this data for analysis.
   - **Data Reporting and Visualization:** While not a data visualization library in itself, pandas can be combined with libraries like Matplotlib and Seaborn to create informative visualizations.

4. **Community and Documentation:**
   - Pandas has a large and active community, which means that there is plenty of support, documentation, and online resources available. This makes it easy to find solutions to common data-related problems.

In summary, pandas is an indispensable tool for data manipulation and analysis in Python. It simplifies the handling of structured data, making it more accessible for users to perform various data-related tasks, from basic data cleaning to complex data analysis.

Pandas provides a wide range of functions and methods for data manipulation and analysis. Here's a list of some of the most commonly used basic functions and methods in pandas:

**DataFrame and Series Creation:**
1. `pd.DataFrame(data)`: Create a new DataFrame from data (e.g., a dictionary or a 2D array).
2. `pd.Series(data)`: Create a new Series from data.

**Data Loading and Input/Output:**

3. `pd.read_csv(filename)`: Read data from a CSV file.
4. `pd.read_excel(filename)`: Read data from an Excel file.
5. `pd.read_sql(query, connection)`: Read data from a SQL database.
6. `df.to_csv(filename)`: Write data to a CSV file.
7. `df.to_excel(filename)`: Write data to an Excel file.

**Data Exploration and Information:**

8. `df.head(n)`: Display the first n rows of the DataFrame.
9. `df.tail(n)`: Display the last n rows of the DataFrame.
10. `df.info()`: Display information about the DataFrame, including data types and missing values.
11. `df.describe()`: Generate summary statistics of the DataFrame.
12. `df.shape`: Get the dimensions (rows, columns) of the DataFrame.

**Indexing and Selection:**

13. `df[column]`: Select a single column by name.
14. `df[[column1, column2]]`: Select multiple columns by name.
15. `df.iloc[row, column]`: Select data by integer-based location.
16. `df.loc[row_label, column_label]`: Select data by label-based location.

**Data Cleaning and Transformation:**

17. `df.drop(labels, axis)`: Remove rows or columns.
18. `df.fillna(value)`: Fill missing values with a specified value.
19. `df.dropna()`: Remove rows with missing values.
20. `df.rename(columns)`: Rename columns.
21. `df.sort_values(by)`: Sort DataFrame by column(s).
22. `df.groupby(column)`: Group data based on a column.
23. `df.pivot_table()`: Create a pivot table.

**Filtering and Querying:**

24. `df[df['column'] > value]`: Filter data based on a condition.
25. `df.query('condition')`: Query data using a SQL-like syntax.

**Aggregation and Statistics:**

26. `df.mean()`, `df.median()`, `df.sum()`, `df.min()`, `df.max()`: Compute various statistics.
27. `df.groupby(column).agg(func)`: Perform custom aggregation.

**Data Visualization:**

28. `df.plot()`: Create basic plots using Matplotlib.
29. `df.hist()`, `df.plot.hist()`: Create histograms.
30. `df.plot.scatter()`: Create scatter plots.

**Merging and Joining:**

31. `pd.concat([df1, df2])`: Concatenate DataFrames.
32. `df1.merge(df2, on='key')`: Perform SQL-like joins.

**Time Series and Datetime Handling:**

33. `pd.to_datetime(series)`: Convert a series to datetime.
34. `df.resample('D').sum()`: Resample time series data.

**Serialization:**

35. `df.to_pickle(filename)`: Serialize the DataFrame to a pickle file.
36. `pd.read_pickle(filename)`: Deserialize a pickle file to a DataFrame.

These are some of the basic functions and methods in pandas. The library offers many more functions for specialized data operations, so be sure to consult the official pandas documentation for more detailed information and examples.

In [ ]:
# !pip3 install kagglehub

In [ ]:
import pandas as pd
import kagglehub
import random
from datetime import datetime, time, timedelta
import string

# Создание DataFrame и Series:
#### **1.Из листа:**

In [ ]:
data_list = [1, 2, 3, 4, 5]
series_from_list = pd.Series(data_list)
print(series_from_list)

In [ ]:
series_from_list.shape

In [ ]:
type(series_from_list)

#### **2. Из tuple:**

In [ ]:
data_tuple = (1, 2, 3, 4, 5)
series_from_tuple = pd.Series(data_tuple)
print(series_from_tuple)

#### **3. Из словаря:**

In [ ]:
data_dict = {'A': 10, 'B': 20, 'C': 30, 'D': 40, 'E': 50}
series_from_dict = pd.Series(data_dict)
print(series_from_dict)

### 2. Создание DataFrame

#### **1. Из листа:**

In [ ]:
data_list = [
    ['John', 30, 68.5, True, 95.5],
    ['Alice', 25, 63.2, False, 88.0],
    ['Bob', 35, 71.0, True, 76.5],
    ['Eve', 28, 65.8, False, 92.0],
    ['Charlie', 40, 72.3, False, 87.5]
]
column_names = ['Name', 'Age', 'Height (inches)', 'Is Student', 'Scores']
df = pd.DataFrame(data_list, columns=column_names)
print(df)

In [ ]:
# Преобразование столбца
df['Heigth in cm'] = df['Height (inches)']*2.54
df = df.drop(columns=['Height (inches)'])
df

#### **2. Из tuple:**

In [ ]:
data_tuple = (
    ('John', 30, 68.5, True, 95.5),
    ('Alice', 25, 63.2, False, 88.0),
    ('Bob', 35, 71.0, True, 76.5),
    ('Eve', 28, 65.8, False, 92.0),
    ('Charlie', 40, 72.3, False, 87.5)
)

column_names = ['Name', 'Age', 'Height (inches)', 'Is Student', 'Scores']

df = pd.DataFrame(data_tuple, columns=column_names)

df

#### **3.Из словаря:**

In [ ]:
data_dict = {
    'Name': ['John', 'Alice', 'Bob', 'Eve', 'Charlie'],
    'Age': [30, 25, 35, 28, 40],
    'Height (inches)': [68.5, 63.2, 71.0, 65.8, 72.3],
    'Is Student': [True, False, True, False, False],
    'Scores': [95.5, 88.0, 76.5, 92.0, 87.5]
}

df = pd.DataFrame(data_dict)

# Display the DataFrame
df

# Считывание из файлов и запись в файлы определенных типов

In [ ]:
path = kagglehub.dataset_download("datascientistanna/customers-dataset")
print("Path to dataset files:", path)

In [ ]:
df = pd.read_csv(f'{path}/Customers.csv')
df

In [ ]:
df = df[:100]
df.to_html("sample_dataset.html")
df.to_csv('sample_dataset.csv', sep=',', index=False)
df.to_excel('sample_dataset.xlsx', index=False)

In [ ]:
df = pd.read_csv(f'{path}/Customers.csv')
df

In [ ]:
df.shape

In [ ]:
df.head()

In [ ]:
df.tail()

#### 2. **Excel:**

In [ ]:
excel_df = pd.read_excel('sample_dataset.xlsx')

In [ ]:
excel_df.shape

In [ ]:
excel_df.head()

# Базовые функции для работы с данными 

1. **`head(n)` and `tail(n)`**:
   - `df.head(n)`: Returns the first `n` rows of the DataFrame (default is 5).
   - `df.tail(n)`: Returns the last `n` rows of the DataFrame (default is 5).

2. **`info()`**:
   - `df.info()`: Provides a summary of the DataFrame, including the data types of columns and the count of non-null values. Useful for understanding the data's structure.

3. **`describe()`**:
   - `df.describe()`: Generates descriptive statistics (count, mean, std, min, 25%, 50%, 75%, max) for numerical columns.

4. **`shape`**:
   - `df.shape`: Returns a tuple representing the dimensions of the DataFrame (number of rows, number of columns).

5. **`dtypes`**:
   - `df.dtypes`: Returns a Series with the data types of each column.

6. **`columns`**:
   - `df.columns`: Returns a list of column names.

7. **`nunique()` and `unique()`**:
   - `df['column_name'].nunique()`: Returns the number of unique values in a specific column.
   - `df['column_name'].unique()`: Returns an array of unique values in a specific column.

8. **`value_counts()`**:
   - `df['column_name'].value_counts()`: Counts the frequency of each unique value in a specific column.

9. **`isna()` and `isnull()`**:
   - `df.isna()`: Returns a DataFrame of the same shape with `True` for missing values and `False` for non-missing values.
   - `df.isnull()`: Same as `isna()`.

10. **`notna()` and `notnull()`**:
   - `df.notna()`: Returns a DataFrame of the same shape with `True` for non-missing values and `False` for missing values.
   - `df.notnull()`: Same as `notna()`.

11. **`corr()`**:
   - `df.corr()`: Calculates the pairwise correlation of numerical columns in the DataFrame.

12. **`cov()`**:
   - `df.cov()`: Calculates the covariance matrix of numerical columns.

13. **`mean()`, `median()`, `std()`, `min()`, and `max()`**:
   - `df.mean()`: Computes the mean of each numerical column.
   - `df.median()`: Computes the median of each numerical column.
   - `df.std()`: Computes the standard deviation of each numerical column.
   - `df.min()`: Returns the minimum value of each column.
   - `df.max()`: Returns the maximum value of each column.

These functions are valuable for understanding your data, identifying missing values, finding summary statistics, and performing initial data exploration and cleaning before more in-depth analysis.

In [ ]:
df.sample(10)

In [ ]:
df.info()

In [ ]:
df.describe()

In [ ]:
df.dtypes

In [ ]:
df.columns

In [ ]:
df.columns.to_list()

In [ ]:
df['Profession'].unique()

In [ ]:
df['Profession'].nunique()

In [ ]:
df['Profession'].value_counts(dropna=False).plot(kind='pie')

In [ ]:
df.isna().sum()

In [ ]:
df.isna().sum().sum()

In [ ]:
df.notna().all()

In [ ]:
#удаляем все с nan
df[df.notna().all(axis=1)]

In [ ]:
df.dropna(inplace=True)
df

# Индексация, срезы, фильтрация


1. **Indexing DataFrames**:

   - **By Column Name**:
     - To access a specific column, use `df['column_name']`. This returns a Series.
     - Example: `df['Age']`.

   - **By Attribute**:
     - If column names are valid Python variable names, you can access columns using attributes, like `df.column_name`.
     - Example: `df.Age`.

   - **By Column Index**:
     - You can access a column by its position (index) using `df.iloc[:, col_index]`.
     - Example: `df.iloc[:, 1]` to access the second column.

2. **Slicing DataFrames**:

   - **Slicing Rows**:
     - To select a range of rows, use `df[start_row:end_row]`. The end row is exclusive.
     - Example: `df[1:4]` returns rows 2 to 4.

   - **Slicing Columns**:
     - To select a subset of columns, use `df[['col1', 'col2']]` to select specific columns.
     - Example: `df[['Name', 'Age']]`.

3. **Selection by Label**:

   - **`.loc[]`**:
     - Use `.loc[]` to select data by label. You can specify rows and columns by their labels.
     - Example: `df.loc[1:4, 'Name':'Age']` selects rows 2 to 4 and columns 'Name' to 'Age'.

4. **Selection by Position**:

   - **`.iloc[]`**:
     - Use `.iloc[]` to select data by integer position. You can specify rows and columns by their position.
     - Example: `df.iloc[1:4, 0:2]` selects rows 2 to 4 and the first two columns.

5. **Boolean Indexing**:

   - You can create Boolean masks to filter rows based on a condition. For example, `df[df['Age'] > 30]` selects rows where 'Age' is greater than 30.

6. **Combining Selections**:

   - You can combine selections for complex data extraction.
   - Example: `df.loc[df['Age'] > 30, ['Name', 'Age']]` selects the 'Name' and 'Age' columns for rows where 'Age' is greater than 30.

7. **`.at[]` and `.iat[]`**:

   - These methods provide faster access to single elements by label or position, respectively.
   - Example: `df.at[2, 'Age']` returns the value at row 3 and the 'Age' column.

8. **Chained Indexing**:

   - Avoid using chained indexing, like `df[1:3]['Name']`. Use `.loc[]` or `.iloc[]` for better performance and to avoid setting with copy errors.

In [ ]:
df

In [ ]:
df.iloc[:,2]

In [ ]:
df.Profession

In [ ]:
df.iloc[:,[1,3]]

In [ ]:
df.iloc[10:20,[1,3,5]]

In [ ]:
df.iloc[:,::-1]

In [ ]:
df[:10]

In [ ]:
df[['Gender','Age']]

In [ ]:
df

In [ ]:
df[df['Age']>60].sort_values('Annual Income ($)')

In [ ]:
df[df['Age']>60].sort_values(['Family Size','Age'])

In [ ]:
df.at[0,'Age'] # возраст в нулевой строке

In [ ]:
df.iat[0,2] #нулевая строка во втором (третьем) столбце

In [ ]:
df.iloc[1:5,1:3]

In [ ]:
df.loc[1:5,['Gender','Age']]

# Очистка и преобразование данных
Data cleaning and transformation are crucial steps in the data preprocessing and analysis pipeline. Pandas provides numerous functions for cleaning and transforming data in DataFrames. Here are some common functions and techniques for data cleaning and transformation in Pandas:

1. **Handling Missing Values**:

   - `df.dropna()`: Removes rows or columns with missing values.
   - `df.fillna(value)`: Fills missing values with a specified value.
   - `df.interpolate()`: Interpolates missing values based on various methods (e.g., linear or polynomial).

2. **Changing Data Types**:

   - `df.astype(dtype)`: Converts the data type of one or more columns.
   - `pd.to_numeric()`, `pd.to_datetime()`, `pd.to_timedelta()`: Converts data to specific data types.

3. **Data Aggregation and Grouping**:

   - `df.groupby()`: Groups data based on one or more columns for aggregation.
   - `agg()`: Performs aggregation operations (e.g., sum, mean, count) on grouped data.
   - `pivot_table()`: Creates pivot tables for summarizing data.

4. **Renaming and Reindexing**:

   - `df.rename()`: Renames columns or indexes.
   - `df.set_index()`: Sets a specific column as the DataFrame's index.
   - `df.reset_index()`: Resets the index.

5. **Dropping Columns**:

   - `df.drop(columns)`: Drops specified columns.
   - `df.pop(column)`: Removes and returns a specific column.

6. **String Manipulation**:

   - `str.lower()`, `str.upper()`, `str.strip()`: Performs string operations on text columns.
   - `str.contains()`, `str.replace()`: Searches for and replaces text in columns.

7. **Duplicated Data**:

   - `df.duplicated()`: Identifies duplicate rows.
   - `df.drop_duplicates()`: Removes duplicate rows.

8. **Applying Custom Functions**:

   - `apply(func)`, `applymap(func)`: Applies a custom function element-wise or row-wise.
   - `transform(func)`: Applies a custom function element-wise and retains the DataFrame shape.

9.  **Merging and Joining Data**:

    - `concat()`, `merge()`: Combines multiple DataFrames.
    - `join()`: Joins DataFrames on a common column.

10. **Reshaping Data**:

    - `melt()`: Unpivots data from wide to long format.
    - `pivot()`: Pivots data from long to wide format.

11. **Handling Datetime Data**:

    - Extracting date, time, and other components from datetime columns.

12. **Handling Categorical Data**:

    - Encoding categorical variables into numerical format.

13. **Mathematical and Statistical Transformations**:

    - `df.apply()`: Apply mathematical or statistical functions row-wise or column-wise.

14. **Custom Data Cleaning and Transformation**:

    - Writing custom functions and transformations to address domain-specific needs.

Data cleaning and transformation are highly dependent on the specific dataset and analysis goals. Pandas offers a wide range of functions to support these operations, allowing you to preprocess and manipulate data effectively before analysis.

#### 1. **Базовая работа с пропусками**:

   - `df.dropna()`: Removes rows or columns with missing values.
   - `df.fillna(value)`: Fills missing values with a specified value.
   - `df.interpolate()`: Interpolates missing values based on various methods (e.g., linear or polynomial).

In [ ]:
df = pd.read_csv(f'{path}/Customers.csv')

In [ ]:
df.dropna()

In [ ]:
df.fillna("Missing")

#### 2. **Изменение типов данных**:

   - `df.astype(dtype)`: Converts the data type of one or more columns.
   - `pd.to_numeric()`, `pd.to_datetime()`, `pd.to_timedelta()`: Converts data to specific data types.

In [ ]:
# create a label index dataframe
import pandas as pd
import random

students = student_names = ["Alice", "Bob", "Charlie", "David", "Eva", "Frank", "Grace", "Henry", "Ivy", "Jack"]

# Create a random marks DataFrame
subjects = ['Math', 'Science', 'History', 'English', 'Art']
data = {subject: [random.randint(0, 100) for _ in range(10)] for subject in subjects}
dummy = pd.DataFrame(data, index=students)
dummy

In [ ]:
dummy.info()

In [ ]:
dummy = dummy.astype(float)
dummy

#### 3. **Data Aggregation and Grouping**:

   - `df.groupby()`: Groups data based on one or more columns for aggregation.
   - `agg()`: Performs aggregation operations (e.g., sum, mean, count) on grouped data.
   - `pivot_table()`: Creates pivot tables for summarizing data.

In [ ]:
df

In [ ]:
df_age = df.groupby('Age')

`df.groupby()` is a powerful method in Pandas for grouping data in a DataFrame. It returns a `GroupBy` object, which provides various methods and attributes for working with grouped data. Here are some of the commonly used attributes, methods, and variables of a `GroupBy` object:

1. **`groups` (attribute)**:
   - Returns a dictionary where the keys are the unique group labels, and the values are the corresponding group indices.

In [ ]:
df_age.groups

2. **`get_group()` (method)**:
   - Retrieves a specific group from the grouped data. For example, `grouped.get_group('GroupLabel')` returns a DataFrame with all rows belonging to 'GroupLabel'.

In [ ]:
df_age.groups.keys()

3. **`size()` (method)**:
   - Returns a Series with the group sizes, indicating how many rows are in each group.

In [ ]:
df_age.size().plot()

4. **`count()` (method)**:
   - Returns the count of non-null values in each group.

In [ ]:
df_age.count()

5. **`mean()` (method)**:
   - Calculates the mean of each group.

In [ ]:
df_age['Family Size'].mean() #min(), max(), sum()

In [ ]:
df_age['Family Size'].quantile(0.5) #min(), max(), sum()

9. **`agg()` (method)**:
   - Applies one or more aggregation functions to each group. You can pass a dictionary specifying which functions to apply to which columns.

In [ ]:
df_age.agg({'Annual Income ($)': ['sum', 'mean', 'min','max', 'std']})

10. **`apply()` (method)**:
    - Applies a custom function to each group.

In [ ]:
df_age['Annual Income ($)'].apply(lambda x : x/1000)

15. **`nth()` (method)**:
    - Returns the nth row from each group.

In [ ]:
df_age.nth(3)

16. **`first()` and `last()` (method)**:
    - Returns the first or last row from each group.

In [ ]:
df_age.first()

In [ ]:
df_age.last()

The specific method you use will depend on your data analysis needs. These functions allow you to perform group-wise operations and calculations on your data, making groupby an essential tool for data analysis with Pandas.

#### 4. **Renaming and Reindexing**:

   - `df.rename()`: Renames columns or indexes.
   - `df.set_index()`: Sets a specific column as the DataFrame's index.
   - `df.reset_index()`: Resets the index.

In [ ]:
df.columns

In [ ]:
df = df.rename(columns={'CustomerID': 'ID', 'Spending Score (1-100)': 'Spending Score'})

In [ ]:
df

In [ ]:
df = df.set_index('ID')
df

In [ ]:
#df.reset_index()
df.reset_index(drop = True)
df

#### 5. **Удаление столбцов**:

   - `df.drop(columns)`: Drops specified columns.
   - `df.pop(column)`: Removes and returns a specific column.

In [ ]:
df.iloc[:,3:5]

In [ ]:
df.drop(columns='Profession')

In [ ]:
df.drop(columns=['Profession','Work Experience'])

In [ ]:
df.pop('Profession')

#### 7. **Дублированные данные**:

   - `df.duplicated()`: Identifies duplicate rows.
   - `df.drop_duplicates()`: Removes duplicate rows.

In [ ]:
df
any(df.duplicated())

In [ ]:
df = pd.concat([df,df])
df = df.reset_index(drop=True)
df

In [ ]:
df.duplicated().sum()

In [ ]:
df[df.duplicated()]

In [ ]:
df = df.drop_duplicates(keep='first')
df.sum(numeric_only=True)

#### 8. **Применение функций**:

   - `apply(func)`, `applymap(func)`: Applies a custom function element-wise or row-wise.
   - `transform(func)`: Applies a custom function element-wise and retains the DataFrame shape.
   
``` python 
df.apply(func, axis=0)  # Apply 'func' to each column
df.apply(func, axis=1)  # Apply 'func' to each row

df.applymap(func)  # Apply 'func' to each element in the DataFrame

series.map(func)  # Apply 'func' to each element in the Series

df.groupby('grouping_column').agg(func)  # Apply aggregation functions to groups
df.groupby('grouping_column').transform(func)  # Apply a function to each group and broadcast the results
df.groupby('grouping_column').filter(lambda x: condition(x))  # Filter groups based on a condition


```

In [ ]:
# creating a custom function
def big_family(number):
    if int(number) < 3:
        return 'ordinary'
    else:
        return 'huge'

In [ ]:
df['Month_Age'] = df.Age * 12
df['Family type'] = df['Family Size'].apply(big_family)
df.loc[len(df)]  = df.iloc[1998] 
df

#### 9. **Merging and Joining Data**:

    - `concat()`, `merge()`: Combines multiple DataFrames.
    - `join()`: Joins DataFrames on a common column.

Merging and joining data in Pandas is a crucial operation when working with multiple DataFrames. These operations allow you to combine or join data from different sources based on common columns or keys. Here's an overview of the key functions for merging and joining data in Pandas:

1. **`pd.concat()`:**
   - The `pd.concat()` function is used to concatenate or stack multiple DataFrames along a particular axis (either rows or columns). It is useful when you want to combine data from different DataFrames without regard to their indexes.
   
   ```python
   concatenated = pd.concat([df1, df2], axis=0)  # Concatenate vertically (along rows)
   concatenated = pd.concat([df1, df2], axis=1)  # Concatenate horizontally (along columns)
   ```

In [ ]:
data1 = {'A': ['A0', 'A1'],
         'B': ['B0', 'B1'],
         'C': ['C0', 'C1']}
data2 = {'A': ['A3', 'A4', 'A5'],
         'B': ['B3', 'B4', 'B5'],
         'D': ['C0', 'C1', 'C2']}
df1 = pd.DataFrame(data1)
df2 = pd.DataFrame(data2)

# Concatenate vertically (along rows)

In [ ]:
df1

In [ ]:
df2

In [ ]:
df1+df2

In [ ]:
concatenated = pd.concat([df1, df2], axis=0)  # Concatenate vertically (along rows)
concatenated

In [ ]:
concatenated = pd.concat([df1, df2], axis=1)
concatenated

In [ ]:
concatenated = pd.concat([df1, df2], axis=0)
tmp = concatenated.loc[1]
tmp

2. **`pd.merge()`:**
   - The `pd.merge()` function is used to perform database-style joins on DataFrames. It allows you to combine DataFrames based on common columns or keys, similar to SQL joins. You can specify the type of join (inner, outer, left, or right) and the columns on which to join.
   
   ```python
   merged = pd.merge(df1, df2, on='common_column', how='inner')  # Inner join
   ```

The `pd.merge()` function in Pandas is used to combine two or more DataFrames based on common columns or keys, similar to how SQL joins work. Let's go through an example to demonstrate how to use `pd.merge()`:

Suppose you have two DataFrames, `df1` and `df2`, and you want to merge them based on a common column called "Key."

**Example: Merging DataFrames with `pd.merge()`**

In [ ]:

data1 = {'Key': ['A', 'B', 'C', 'D'],         'Value11': [1, 2, 3, 4],
         'Value12': [9,10,11,12]}
df1 = pd.DataFrame(data1)

data2 = {'Key': ['B', 'D', 'E', 'F'],
         'Value21': [5, 6, 7, 8],
         'Value22': [13,14,15,16]}
df2 = pd.DataFrame(data2)

In [ ]:
df1

In [ ]:
df2

In [ ]:
merged = pd.merge(df1, df2, on='Key', how='inner')
merged

In [ ]:
merged = pd.merge(df1, df2, on='Key', how='outer')
merged

In [ ]:
merged = pd.merge(df1, df2, on='Key', how='left')
merged

In [ ]:
merged = pd.merge(df1, df2, on='Key', how='right')
merged

In [ ]:
merged = pd.merge(df2, df1, on='Key', how='left')
merged

In [ ]:
merged = pd.merge(df1, df2,how='cross')
merged

3. **`.join()`:**
   - The `.join()` method is used to join two DataFrames based on a common column, typically the index column. It provides a convenient way to perform left or right joins.
   
   ```python
   df1.join(df2, how='left')  # Left join
   ```

These functions and methods are powerful tools for combining data from different sources into a single DataFrame, either by stacking them (using `pd.concat()`) or by merging them (using `pd.merge()` or `.join()`).

In addition to these, you can specify key columns, handle duplicate column names, and perform more complex merging and joining operations, including merging on multiple columns or keys.

The choice of which method to use depends on the specific requirements of your data and the type of merge or join operation you want to perform. Understanding the different types of joins (inner, outer, left, right) and how to specify key columns is important when working with these functions.

In Pandas, the `.join()` method is used to combine two DataFrames based on a common column or index. The `.join()` method is more commonly used when you want to join DataFrames on their indices. Let's go through an example to demonstrate how to use `.join()`:

Suppose you have two DataFrames, `df1` and `df2`, and you want to join them based on their indices or a common column, such as "Key."

**Example: Joining DataFrames with `.join()`**

In [ ]:
data1 = {'Key': ['A', 'B', 'C', 'D'],
         'Value1': [1, 2, 3, 4]}
df1 = pd.DataFrame(data1)

data2 = {'Value2': [5, 6, 7, 8]}
df2 = pd.DataFrame(data2, index=['B', 'D', 'E', 'F'])

In [ ]:
df1

In [ ]:
df2

In [ ]:
joined = df1.set_index('Key').join(df2, how='left')
joined

In this example, we:

1. Import Pandas and create two DataFrames, `df1` and `df2`. `df1` has a 'Key' column, and `df2` has a 'Value2' column.

2. Use `.set_index('Key')` to set the 'Key' column as the index in `df1`. This prepares `df1` for the join.

3. Use the `.join()` method to join `df1` and `df2`. We specify `how='left'` to perform a left join, keeping all rows from `df1` and matching rows from `df2`.

The resulting `joined` DataFrame will be based on the indices of `df1` and will contain values from both DataFrames, aligning them based on the common 'Key' values.

Output of the `joined` DataFrame:

```
     Value1  Value2
Key                
A         1     NaN
B         2     5.0
C         3     NaN
D         4     6.0
```

This demonstrates how to use the `.join()` method in Pandas to combine DataFrames based on common indices or columns. It's a convenient way to align and combine data from different sources.

12. **Reshaping Data**:

    - `melt()`: Unpivots data from wide to long format.
    - `pivot()`: Pivots data from long to wide format.
    
    In Pandas, the `melt()` and `pivot()` functions are used for transforming data between "wide" and "long" formats. These operations are commonly used for reshaping data for various analysis and visualization tasks.

**`melt()`: Unpivoting Data (Wide to Long Format)**

The `melt()` function is used to unpivot or melt data from a wide format to a long format. It reshapes the data by converting columns into rows. This can be helpful when you want to analyze data in a more structured or tabular way.

Here's an example of how to use `melt()`:

In [ ]:
# Sample data in wide format
data = {'Date': ['2023-01-01', '2023-01-02'],
        'Temperature_NY': [32, 35],
        'Temperature_LA': [70, 72],
        'Temperature_Moscow': [50, 82],
        'Porocity': [60,70]}

df_wide = pd.DataFrame(data)

In [ ]:
df_wide

In [ ]:
df_long = pd.melt(df_wide, id_vars=['Date','Porocity'], var_name='City', value_name='Temperature')
df_long

In this example, `melt()` is used to unpivot the data from a wide format where temperatures for different cities are in separate columns to a long format where temperatures are in rows.

**`pivot()`: Pivoting Data (Long to Wide Format)**

The `pivot()` function, on the other hand, is used to pivot data from a long format to a wide format. It reshapes the data by converting unique values in a column into new columns. This can be useful when you want to create a more structured summary of the data.

Here's an example of how to use `pivot()`:

In [ ]:
import pandas as pd

# Sample data in long format
data = {'Date': ['2023-01-01', '2023-01-01', '2023-01-02', '2023-01-02'],
        'City': ['NY', 'LA', 'NY', 'LA'],
        'Temperature': [32, 70, 35, 72]}

df_long = pd.DataFrame(data)

In [ ]:
df_long

In [ ]:
df_wide = df_long.pivot(index='Date', columns='City', values='Temperature')
df_wide

In this example, `pivot()` is used to pivot the data from a long format where temperatures for different cities are in rows to a wide format where each city has its own column.

These functions are valuable for data preprocessing and reshaping when the format of your data needs to change to suit your analysis or visualization requirements.

#### 13. **Handling Datetime Data**:

    - Extracting date, time, and other components from datetime columns.
    
    Pandas provides several functions to handle datetime data, allowing you to extract date, time, and other components from datetime columns. Here are some common operations you can perform:

**1. Extracting Date and Time Components:**

- To extract the year, month, day, hour, minute, or second from a datetime column, you can use the `.dt` accessor along with the specific component you want to extract. Here are some examples:

In [ ]:
data = []

# Generate random data for 20 rows
for _ in range(20):
    # Generate random datetime
    date = datetime(2023, random.randint(1, 12), random.randint(1, 28), random.randint(0, 23), random.randint(0, 59), random.randint(0, 59))
    
    # Generate random time
    start_time = time(random.randint(0, 23), random.randint(0, 59), random.randint(0, 59))
    
    # Generate random integer
    integer_value = random.randint(0, 100)
    
    # Generate random float
    float_value = round(random.uniform(0, 100), 2)
    
    # Generate random string
    string_value = ''.join(random.choice(string.ascii_letters) for _ in range(5))
    
    data.append([date, start_time, integer_value, float_value, string_value])

# Create a DataFrame
df3 = pd.DataFrame(data, columns=['Datetime', 'Time', 'Integer', 'Float', 'String'], dtype=object)

In [ ]:
df3

In [ ]:
df3.info()

In [ ]:
# object to datetime
pd.to_datetime(df3['Datetime'])

In [ ]:
# extract date
pd.to_datetime(df3['Datetime']).dt.date

In [ ]:
# get year
pd.to_datetime(df3['Datetime']).dt.year

In [ ]:
# get month
pd.to_datetime(df3['Datetime']).dt.month

In [ ]:
# get month name
pd.to_datetime(df3['Datetime']).dt.month_name()

In [ ]:
# get day
pd.to_datetime(df3['Datetime']).dt.day

In [ ]:
# get day name
pd.to_datetime(df3['Datetime']).dt.day_name()

In [ ]:
# get week 
pd.to_datetime(df3['Datetime']).dt.weekday

In [ ]:
# get time from datetime
pd.to_datetime(df3['Datetime']).dt.time

In [ ]:
# get hour
pd.to_datetime(df3['Datetime']).dt.hour

In [ ]:
# get minute
pd.to_datetime(df3['Datetime']).dt.minute

In [ ]:
# get second
pd.to_datetime(df3['Datetime']).dt.second

**3. Extracting Date Differences:**

- You can calculate the difference between two datetime columns, such as days, using the subtraction operator.

In [ ]:
import pandas as pd

# Sample DataFrame with a datetime column
data = {'Date': ['2025-01-24 08:30:00', '2025-01-22 14:45:00']}
df = pd.DataFrame(data)
df['Date'] = pd.to_datetime(df['Date'])

# Extract year, month, and day
df['Year'] = df['Date'].dt.year
df['Month'] = df['Date'].dt.month
df['Month_name'] = pd.to_datetime(df['Date']).dt.month_name()
df['Day'] = df['Date'].dt.day_name()

# Extract hour and minute
df['Hour'] = df['Date'].dt.hour
df['Minute'] = df['Date'].dt.minute

In [ ]:
df

In [ ]:
# Calculate the date difference in days
df['Date2'] = pd.to_datetime(['2025-01-25', '2024-01-26'])
df['DateDifference'] = (df['Date2'] - df['Date'])
df['DateDifference']

These are just a few examples of how to handle datetime data in Pandas. You can use various datetime-related attributes and methods to manipulate datetime columns to suit your specific analysis and reporting needs.

15. **Mathematical and Statistical Transformations**:

    - `df.apply()`: Apply mathematical or statistical functions row-wise or column-wise.
    
    
    In Pandas, you can perform mathematical and statistical transformations using the `df.apply()` method. This method allows you to apply a custom function, a built-in NumPy function, or a statistical function row-wise or column-wise to a DataFrame. Here's how you can use `df.apply()` for such transformations:

**1. Applying a Custom Function:**

You can define your own custom function and use `df.apply()` to apply it to each row or column of the DataFrame. Here's an example that calculates the square of each element in a DataFrame:

In [ ]:
data = {'A': [1, 2, 3, 4],
        'B': [5, 6, 7, 8]}
df = pd.DataFrame(data)

def square(x):
    return x ** 2

df_squared = df.apply(square)

df_squared

In [ ]:
df**2

**2. Applying Built-in NumPy Functions:**

You can apply NumPy functions using `df.apply()` as well. For example, to calculate the mean of each column:

**3. Applying Statistical Functions:**

You can use statistical functions like `mean()`, `sum()`, `min()`, `max()`, etc., directly with `df.apply()` to compute statistics row-wise or column-wise. For example, to calculate the sum of each row:

In [ ]:
import pandas as pd
import numpy as np

# Sample DataFrame
data = {'A': [1, 2, 3, 4],
        'B': [5, 6, 7, 8]}
df = pd.DataFrame(data)

# Apply NumPy's mean function to each column
column_means = df.apply(np.mean, axis = 0)
print(column_means)
row_means = df.apply(np.mean, axis = 1)
print(row_means)

The `axis` parameter specifies whether the function should be applied row-wise (axis=1) or column-wise (axis=0).

`df.apply()` is a versatile method that allows you to perform a wide range of mathematical and statistical transformations on DataFrames, making it a valuable tool for data analysis and manipulation.

The `axis` parameter specifies whether the function should be applied row-wise (axis=1) or column-wise (axis=0).

`df.apply()` is a versatile method that allows you to perform a wide range of mathematical and statistical transformations on DataFrames, making it a valuable tool for data analysis and manipulation.

# Graph and Chart Plot
Pandas is a powerful data manipulation library in Python, and it can be used to create a variety of graphs and charts. To create different types of graphs and charts using Pandas, you'll typically use the `plot` method on a DataFrame or Series. Here are some common types of charts and graphs you can create with Pandas, along with examples:

1. `Line Chart`:
   A line chart is used to visualize data points over a continuous interval or time series.

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt

data = {'x': [i/100 for i in range(-1000,1000)],
        'y': [(i/100)**2 for i in range(-1000,1000)]}

df = pd.DataFrame(data)

df.plot(x='x', y='y', kind='line')
plt.title('Yearly Sales')
plt.show()

2. Bar Chart:
   Bar charts are used to compare different categories or values.

In [ ]:
data = {'Category': ['A', 'B', 'C', 'D'],
        'Values': [15, 30, 25, 40]}

df = pd.DataFrame(data)

df.plot(x='Category', y='Values', kind='bar')
plt.title('Category-wise Values')
plt.show()

3. Histogram:
   Histograms are used to display the distribution of a single variable.

In [ ]:
data = {'Scores': [85, 92, 78, 88, 95, 76, 89, 90, 82, 86]}

df = pd.DataFrame(data)

df.plot(y='Scores', kind='hist', bins=5)
plt.title('Score Distribution')
plt.show()

4. Scatter Plot:
   Scatter plots are used to visualize the relationship between two variables.

In [ ]:
data = {'X': [1, 2, 3, 4, 5],
        'Y': [5, 8, 6, 9, 10]}

df = pd.DataFrame(data)

df.plot(x='X', y='Y', kind='scatter', xlim=(0,10),ylim=(0,10))
plt.title('Scatter Plot')
plt.show()

5. Pie Chart:
   Pie charts are used to represent parts of a whole.

In [ ]:
data = {'Category': ['A', 'B', 'C', 'D'],
        'Values': [15, 30, 25, 40]}

df = pd.DataFrame(data)

df.plot(y='Values', kind='pie', labels=df['Category'], autopct='%1.1f%%')
plt.title('Category-wise Distribution')
plt.show()

6. Box Plot:
   Box plots are used to visualize the distribution of a dataset and identify outliers.

In [ ]:
data = {'Category': ['A', 'B', 'A', 'C', 'B', 'C'],
        'Values': [15, 30, 22, 40, 33, 45]}

df = pd.DataFrame(data)

df.boxplot(by='Category', column='Values')
plt.title('Box Plot by Category')
plt.suptitle('')  # Remove the default title
plt.show()

These are some of the common types of charts and graphs you can create using Pandas. Depending on your data and analysis needs, you can customize these charts further and explore more advanced plotting options offered by libraries like Matplotlib and Seaborn in conjunction with Pandas.